<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meiqia.meiqiasdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:allowBackup="true">

        <!--聊天界面-->
        <activity
            android:name="com.meiqia.meiqiasdk.activity.MQConversationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MQTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service android:name="com.meiqia.core.MeiQiaService" />
    </application>

</manifest>
